body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fffdf8;
    color: #3b2e2e;
}

header {
    text-align: center;
    padding: 25px;
    background: #644526;
    color: #fff;
}

nav {
    background: #b37a4c;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a.active {
    text-decoration: underline;
}

.container {
    display: flex;
    padding: 20px;
}

aside {
    width: 25%;
    padding: 20px;
    background: #f3e9d7;
    border-radius: 10px;
    margin-right: 20px;
}

main {
    flex: 1;
}

h1, h2, h3 {
    color: gray;
}

.img-box {
    margin: 20px 0;
    text-align: center;
}
.img-box img {
    max-width: 100%;
    border-radius: 10px;
}
.caption {
    font-size: 0.9em;
    color: #6a5d52;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
table, th, td {
    border: 1px solid #d0bba3;
}
th, td {
    padding: 10px;
    text-align: left;
    background-color: #fffaf3;
}

.recipe-list li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #b37a4c;
    color: #fff;
}